<app-login></app-login>

    <!-- Header Section Start -->
    <header class="inner-header environment-header">
        <!-- Navbar Start -->
        <app-main-menu></app-main-menu>
        <!-- Navbar End -->
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-7">
                    <div class="contents">
                        <div class="text-center">
                            <h2><span>environment</span></h2>
                            <div class="breadcrumbs">
                                <div class="container">
                                    <ol class="breadcrumb">
                                        <li><a routerLink='/pages/home'>home</a><span>//</span></li>
                                        <li><a routerLink='/pages/enviroments'>environment</a></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <section class="inner-container">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title2 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">environment <span></span></h2>
                <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            </div>
            <div class="clearfix">
                <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                    We in PET for packaging Materials trying to Save Our Planet , Through the years, we have been a leader in managing our business in a way that impacts the environment in a friendly, positive, and thoughtful manner. Long before others were paying attention to environmental issues, we implemented the following Environmental Vision and Management Policy:
                </p>

                <div class="row">
                    <div class="col-md-4">
                        <div class="environment-item wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.5s">
                            <img src="/src/assets/img/environment/saving_energy_light.jpg">
                            <h3>Saving Light Energy</h3>
                            <div class="env-defination">
                                Electricity is one of the most important factor in any industry and in our life most of countries in third world are suffering from electricity shortage due to shortage of natural resources as Petroleum or water falls.<br><br>
                            </div>
                            <div class="env-we-did">PET uses intelligent roof design with smart sky light panel inside all production &amp; warehouse areas that allow working using direct sun light for more than 10 hours daily.</div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="environment-item n2 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.7s">
                            <img src="/src/assets/img/environment/green_air.jpg">
                            <h3>Clear & Green air-conditioning system</h3>
                            <div class="env-defination">
                                Plastic Industry in general need high temperature in all production processes therefore it generates hot temperature inside production hall which create non comfort atmosphere for employee and bad conditions for machines & materials.

                            </div>
                            <div class="env-we-did">
                                PET uses the most intelligent and green air condition system worldwide using natural air flow & natural water in closed loop, without using any Energy or any type of Gas We can keep inside temperature up to 26 degree 12 month year.
</div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="environment-item n3 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.9s">
                            <img src="/src/assets/img/environment/recycle.jpg">
                            <h3>No Material wastage, using 100% in-house recycle material
</h3>
                            <div class="env-defination">
                                Plastic thermoforming process in general create high waste percentage (up to 50%) and it’s difficult to reuse it again without special treatment to comply with food safety regulation and on other hand its very harmful for environment to not reuse again.

                            </div>
                            <div class="env-we-did">
                                PET has the most advanced technology that can treat & handle all material scrap in order to reuse it in such way that comply with all restricted food safety regulation and also keeping high quality standards.
</div>

                        </div>
                    </div>
                </div>



            </div>



        </div>
    </section>
