

  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo" id="Home">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a routerLink='/pages/home' class="navbar-brand"><img class="img-fulid" src="/src/assets/img/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="lnr lnr-menu"></i>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item">
              <a class="nav-link" routerLink='/pages/home'>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/pages/about'>About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/pages/home'>Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/pages/enviroments'>Environment </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/pages/certificates'>Certificates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/pages/policy'>Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/pages/newsandevents'>News & Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/pages/dashboard'>Contacts</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Mobile Menu Start -->
      <ul class="mobile-menu">
          <li>
              <a class="" routerLink='/pages/home'>Home</a>
          </li>
          <li>
              <a class="" routerLink='/pages/about'>About</a>
          </li>
          <li>
              <a class="" routerLink='/pages/home'>Products</a>
          </li>
          <li>
              <a class="" routerLink='/pages/enviroments'>Environment</a>
          </li>
          <li>
              <a class="" routerLink='/pages/certificates'>Certificates</a>
          </li>
          <li>
              <a class="" routerLink='/pages/policy'>Policy</a>
          </li>
          <li>
              <a class="" routerLink='/pages/newsandevents'>News & Events</a>
          </li>
          <li>
              <a class="" routerLink='/pages/home'>Contacts</a>
          </li>
      </ul>
      <!-- Mobile Menu End -->

    </nav>
