<app-login></app-login>

<!-- Header Section Start -->
<header class="inner-header policy-header">
  <!-- Navbar Start -->
  <app-main-menu></app-main-menu>
  <!-- Navbar End -->
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-7">
        <div class="contents">
          <div class="text-center">
            <h2><span>policy</span></h2>
            <div class="breadcrumbs">
              <div class="container">
                <ol class="breadcrumb">
                  <li><a routerLink='/pages/home'>home</a><span>//</span></li>
                  <li><a routerLink='/pages/policy'>policy</a></li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Section End -->
<section class="inner-container">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title2 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">policy <span></span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
    </div>
    <div class="clearfix text-center">
      <div class="policy-item wow fadeIn" data-wow-duration="400ms" data-wow-delay="0.3s">
        <a href="/src/assets/img/policy/health.jpg" data-lightbox="example-set" data-title="HEALTH, SAFETY and ENVIRONMENTAL POLICY">
          <img src="/src/assets/img/policy/thumbs/health.jpg" />
          <span>
            HEALTH, SAFETY and ENVIRONMENTAL POLICY
          </span>
        </a>
      </div>
      <div class="policy-item wow fadeIn" data-wow-duration="400ms" data-wow-delay="0.3s">
        <a href="/src/assets/img/policy/safety.jpg" data-lightbox="example-set" data-title=" SAFETY and QUALITY POLICY">
          <img src="/src/assets/img/policy/thumbs/safety.jpg" />
          <span>
            SAFETY and QUALITY POLICY
          </span>
        </a>
      </div>
      <div class="policy-item wow fadeIn" data-wow-duration="400ms" data-wow-delay="0.3s">
        <a href="/src/assets/img/policy/social.jpg" data-lightbox="example-set" data-title="SOCIAL RESPONSIBILITY POLICY">
          <img src="/src/assets/img/policy/thumbs/social.jpg" />
          <span>
            SOCIAL RESPONSIBILITY POLICY
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
