<app-login></app-login>

<header class="inner-header">
  <!-- Navbar Start -->
  <app-main-menu></app-main-menu>
  <!-- Navbar End -->
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-7">
        <div class="contents">
          <div class="text-center">
            <h2><span>about us</span></h2>
            <div class="breadcrumbs">
              <div class="container">
                <ol class="breadcrumb">
                  <li><a href="index.html">home</a><span>//</span></li>
                  <li><a href="about-us.html">about us</a></li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="inner-container">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title2 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">About PET-EGYPT</h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
        PET for packaging Materials is a manufacture of wide array of PET containers and merchandise, PET-EGYPT is well structured
        to support large users of thermoformed packaging and carries forward the enhanced optical and mechanical properties
        of virgin & recycle PET.
      </p>
    </div>
    <div class="clearfix">
      <div class="item-boxes item-boxes-left clearfix  wow fadeInDown" data-wow-delay="0.2s">
        <div class="icon">
          <i class="lnr lnr-pencil"></i>
        </div>
        <h4>Our vision</h4>
        <p>
          To be the leader in providing packaging solution & to be customer first choice in harmony with profitable growth.

        </p>
      </div>
      <div class="item-boxes item-boxes-left clearfix wow fadeInDown" data-wow-delay="0.8s">
        <div class="icon">
          <i class="lnr lnr-rocket"></i>
        </div>
        <h4>Our mission</h4>
        <p>
          To be the leader in the field of plastic packaging industry (food & beverage division) through building upon our existing
          business in the market segments where we have the opportunity to become the recognized leader and through application
          of emerging technology to manufacture innovative products that protect & promote out customer's product.

        </p>
      </div>

      <div class="item-boxes item-boxes-left clearfix wow fadeInDown" data-wow-delay="1.2s">
        <div class="icon">
          <i class="lnr lnr-mustache"></i>
        </div>
        <h4>Our value integrity</h4>
        <p>
          Honesty & fairness are essential to the way we do business & interact with people. We shall consistently treat our customers,
          employees, shareholders, suppliers & community with honesty, dignity, fairness & respect. We shall conduct our
          business with the highest ethical standard.
        </p>
      </div>
      <div class="item-boxes item-boxes-left clearfix wow fadeInDown" data-wow-delay="1.6s">
        <div class="icon">
          <i class="lnr lnr-thumbs-up"></i>
        </div>
        <h4>Excellence</h4>
        <p>
          Our pursuit of excellence leads us to new levels of professionalism. To be excellent, we must challenge ourselves to exceed
          the expectations of our customers, shareholders & colleagues by striving to surpass our targets and improve our
          result.

        </p>
      </div>
      <div class="item-boxes item-boxes-left clearfix wow fadeInDown" data-wow-delay="2s">
        <div class="icon">
          <i class="lnr lnr-star"></i>
        </div>
        <h4>Responsibility</h4>
        <p>
          PET works to empower every individual at every level of our organization through enhancing their capabilities to take the
          responsibility with full reliability.

        </p>
      </div>
    </div>


  </div>
</section>
