<section id="About" class="section wow slideInLeft" data-wow-delay="0.4s">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">About PET-EGYPT</h2>
        <hr class="lines wow zoomIn" data-wow-delay="0.3s">
        <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">PET for packaging Materials
          is a manufacture of wide array of PET containers and merchandise, PET-EGYPT is well structured to support large
          users of thermoformed packaging and carries forward the enhanced optical and mechanical properties of virgin &
          recycle PET.</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
            <div class="icon">
              <i class="lnr lnr-pencil"></i>
            </div>
            <h4>Our vision</h4>
            <p>To be the leader in providing packaging solution & to be customer first choice in harmony with profitable
              growth. </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
            <div class="icon">
              <i class="lnr lnr-rocket"></i>
            </div>
            <h4>Our mission</h4>
            <p>To be the leader in the field of plastic packaging industry (food & beverage division) through building upon
              our existing business in the market segments</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
            <div class="icon">
              <i class="lnr lnr-mustache"></i>
            </div>
            <h4>Our value integrity</h4>
            <p>Honesty & fairness are essential to the way we do business & interact with people.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services Section End -->

  <!-- Counter Section Start -->
  <div class="counters section wow slideInRight" data-wow-delay="0.2s" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3 wow slideInLeft" data-wow-delay="0.2s">
          <div class="facts-item">
            <div class="icon">
              <i class="lnr lnr-clock"></i>
            </div>
            <div class="fact-count">
              <h3><span class="counter">{{ statistics.WorkingYears }}</span></h3>
              <h4>Working Years</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 wow slideInLeft" data-wow-delay="0.2s">
          <div class="facts-item">
            <div class="icon">
              <i class="lnr lnr-briefcase"></i>
            </div>
            <div class="fact-count">
              <h3><span class="counter">{{ statistics.CompletedProjects }}</span></h3>
              <h4>Completed Projects</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 wow slideInLeft" data-wow-delay="0.2s">
          <div class="facts-item">
            <div class="icon">
              <i class="lnr lnr-user"></i>
            </div>
            <div class="fact-count">
              <h3><span class="counter">{{ statistics.ClientsCount }}</span></h3>
              <h4>No. of Clients</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 wow slideInLeft" data-wow-delay="0.2s">
          <div class="facts-item">
            <div class="icon">
              <i class="lnr lnr-gift"></i>
            </div>
            <div class="fact-count">
              <h3><span class="counter">{{ statistics.ProductsDeleveried }}</span></h3>
              <h4>Products Deleveried</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
