<app-login></app-login>

<!-- Header Section Start -->
<header class="inner-header environment-header">
  <!-- Navbar Start -->
  <app-main-menu></app-main-menu>
  <!-- Navbar End -->
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-7">
        <div class="contents">
          <div class="text-center">
            <h2><span>certificates</span></h2>
            <div class="breadcrumbs">
              <div class="container">
                <ol class="breadcrumb">
                  <li><a routerLink='/pages/enviroments'>home</a><span>//</span></li>
                  <li><a routerLink='/pages/certificates'>certificates</a></li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Section End -->
<section class="inner-container">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title2 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">certificates <span></span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
    </div>
    <div class="clearfix text-center">
      <div class="certificates-item wow fadeIn" data-wow-duration="400ms" data-wow-delay="0.3s">

        <a href="/src/assets/img/certificates/iso_9001_2015.jpg" data-lightbox="example-set" data-title="EN ISO 9001:2015">
          <img src="/src/assets/img/certificates/thumbs/iso_9001_2015.jpg" />
          <span>
            EN ISO 9001:2015
          </span>
        </a>
      </div>
      <div class="certificates-item wow fadeIn" data-wow-duration="400ms" data-wow-delay="0.3s">
        <a href="/src/assets/img/certificates/iso_14001_2015.jpg" data-lightbox="example-set" data-title="EN ISO 14001:2015 ( Enviromental Managmenet System)">
          <img src="/src/assets/img/certificates/thumbs/iso_14001_2015.jpg" />
          <span>
            EN ISO 14001:2015 ( Enviromental Managmenet System)
          </span>
        </a>
      </div>
      <div class="certificates-item wow fadeIn" data-wow-duration="400ms" data-wow-delay="0.3s">
        <a href="/src/assets/img/certificates/ohsas_18001_2007.jpg" data-lightbox="example-set" data-title="OHSAS 18001:2007 ( Occupational Health & Safety Managmenet System)">
          <img src="/src/assets/img/certificates/thumbs/ohsas_18001_2007.jpg" />
          <span>
            OHSAS 18001:2007 ( Occupational Health & Safety Managmenet System)
          </span>
        </a>
      </div>
      <div class="certificates-item wow fadeIn" data-wow-duration="400ms" data-wow-delay="0.3s">
        <a href="/src/assets/img/certificates/fssc_22000_2011.jpg" data-lightbox="example-set" data-title="FSSC22000:2011 (Food Safety System Certification 22000)">
          <img src="/src/assets/img/certificates/thumbs/fssc_22000_2011.jpg" />
          <span>
            FSSC22000:2011 (Food Safety System Certification 22000)
          </span>
        </a>
      </div>
      <div class="certificates-item wow fadeIn" data-wow-duration="400ms" data-wow-delay="0.3s">
        <a href="/src/assets/img/certificates/iso_22000_2005.jpg" data-lightbox="example-set" data-title=" ISO 22000:2005 (Food Safety Management System)">
          <img src="/src/assets/img/certificates/thumbs/iso_22000_2005.jpg" />
          <span>
            ISO 22000:2005 (Food Safety Management System)
          </span>
        </a>
      </div>
      <div class="certificates-item wow fadeIn" data-wow-duration="400ms" data-wow-delay="0.3s">
        <a href="/src/assets/img/certificates/brc_iop.jpg" data-lightbox="example-set" data-title="BRC/IOP (Global Standard For Packaging and Packaging Materials)">
          <img src="/src/assets/img/certificates/thumbs/brc_iop.jpg" />
          <span>
            BRC/IOP (Global Standard For Packaging and Packaging Materials)
          </span>
        </a>
      </div>
      <div class="certificates-item wow fadeIn" data-wow-duration="400ms" data-wow-delay="0.3s">
        <a href="/src/assets/img/certificates/sa8000.jpg" data-lightbox="example-set" data-title=" SA8000 (Social Accountability Standard)">
          <img src="/src/assets/img/certificates/thumbs/sa8000.jpg" />
          <span>
            SA8000 (Social Accountability Standard)
          </span>
        </a>
      </div>




    </div>



  </div>
</section>
