
<app-login></app-login>

  <nav class="navbar side-menu">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="#Up"><span>Home</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#About"><span>About us</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#Products"><span>Products</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#Articles"><span>Articles</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#News"><span>News & Events</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#contact"><span>Contact Us</span></a></li>

      </ul>
    </nav>



   <!-- Header Section Start -->
   <header id="Up" data-stellar-background-ratio="0.5">
      <app-main-menu></app-main-menu>
      <!-- Navbar End -->
      <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-5">
              <img src="/src/assets/img/sample.png" id="sample" class="img-fluid" />
            </div>
            <div class="col-md-7">
              <div class="contents text-center">
                <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">PET-EGYPT for packaging Materials</h1>
                <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">is a manufacture of wide array
                  of PET containers and merchandise </p>
                <a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Our Products</a>
                <a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Make Orders</a>
              </div>
            </div>
          </div>
        </div>

      <!-- Header Section End -->
    </header>


  <!-- Services Section Start -->
  <app-home-page-about></app-home-page-about>
  <!-- Counter Section End -->



  <!-- Portfolio Section -->
  <app-products></app-products>
    <!-- Portfolio Section Ends -->







  <!-- Blog Section -->
  <app-home-page-news-and-events></app-home-page-news-and-events>
  <!-- blog Section End -->

  <!-- Contact Section Start -->
  <app-contact-us></app-contact-us>
